/*	**************************************
	For this styling, I wanted to keep the page feel as similar as possible to the info and home pages.
	This included keeping the banner the exact same from page to page. Below the banner, I styled the 
	form to have the same feel and styling technique as the rest of the website. The styling for the form
	begins with the .sign-up tag, and all of the styling is done to mimic the feel of the rest of the
	website with the form.
	************************************** */

.grid-container { 
	display: grid;
	grid-template-rows: 100px 50px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "head head nav-bar nav-bar" ".   .   .   ." ". sign  sign   .";
	margin: 0 auto;
	background-color: #405275;
}
.head {
	grid-area: head;
	background-color: black;
}
.nav-bar {
	grid-area: nav-bar;
	background-color: black;
}
header img {
	display: block;
	position: absolute;
	top: 7px;
	left: 45px;
}
.menu ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.menu a {
	display: block;
	text-decoration: none;
	padding: 10px 10px;
	color: #FA9C1D;
}
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav li { 
	margin: 25px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 900;
	font-size: 18px;
}
.is-current {
	border-bottom: 2px solid white;
}


.sign-up {
	grid-area: sign;
	text-align: center;
	background-color: gray;
	box-shadow: 10px 10px 20px;
	font-family: 'IBM Plex Sans', sans-serif;
}

label {
	margin-bottom: 25px;
}

input {
	width: 50%;
	padding-bottom: 10px;
	margin-bottom: 25px;
	border: 2px solid #FA9C1D;
	border-radius: 5px;
}

.labels {
	float: left;
	width: 25%;
}

.reponse {
	float: left;
	width: 75%;
}

input[type=submit] {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 18px;
	border: 3px solid #FA9C1D;
	background-color: black;
	color: white;
	width: 22%;
	border-radius: 20px;
}

#button:hover {
	color: #FA9C1D;
}