/*	**************************************
	For the post submit form, I wanted there to be a smooth transition to the thank you page. This included
	having the banner the exact same and using the same exact styles as the form on the post form page. I
	wanted there to be no jump in the container box when a user hits submit, so I played around with the
	margins until there was a completely smooth transition, which I feel makes the users experience much
	better. The unique styling for this page begins at the .thankyou tag.
	************************************** */

.grid-container { 
	display: grid;
	grid-template-rows: 100px 50px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "head head nav-bar nav-bar" ".   .   .   ." ". message  message   .";
	margin: 0 auto;
	background-color: #405275;
}

.head {
	grid-area: head;
	background-color: black;
}
.nav-bar {
	grid-area: nav-bar;
	background-color: black;
}
header img {
	display: block;
	position: absolute;
	top: 7px;
	left: 45px;
}
.menu ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.menu a {
	display: block;
	text-decoration: none;
	padding: 10px 10px;
	color: #FA9C1D;
}
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav li { 
	margin: 25px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 900;
	font-size: 18px;
}
.is-current {
	border-bottom: 2px solid white;
}

.thankyou {
	grid-area: message;
	text-align: center;
	background-color: gray;
	box-shadow: 10px 10px 20px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.thankyou a {
	text-decoration: none;
	color: #FA9C1D;
}

.success {
	margin-bottom: 25px;
}

.toplink {
	margin-top: 46px;
	margin-bottom: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 18px;
}
.bottomlink {
	margin-bottom: 94px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 18px;
}

.thankyou a:hover {
	border-bottom: 2px solid white;
}